.item {
  background-color: rgb(250, 181, 181);
}

.item a {
  background-color: blueviolet;
  color: chocolate;
}

a.activePlus {
  background-color: blue;
  color: #1cb416;
}

a.activeMinus {
  background-color: rgb(251, 255, 0);
}
