#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 3rem;
  text-align: center;
  background: rgb(7, 172, 131);
}

.logo {
  height: 5em;
  padding: 1.4em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 1.5em #0f17b8aa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 1.3em #0ebff0aa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(3) .logo {
    animation: logo-spin infinite 18s linear;
  }
}

.card {
  padding: 3em;
}

.read-the-docs {
  color: #fdfcfc;
}
