.App {
  display: grid;
  grid-template-areas: "h h" "n m";
  grid-template-columns: 200px 1600px;
  grid-template-rows: 60px;
}

.Heder {
  grid-area: h;
  text-align: center;
}

.Nav {
  grid-area: n;
  padding: 2px;
}

.Main {
  grid-area: m;
  text-align: center;
}
