.one-color {
  background-color: blue;
  color: #f3f8f2;
}

.two-color {
  background-color: rgb(250, 251, 0);
}
.three-color {
  background-color: rgb(255, 0, 88);
  color: #f3f8f2;
}
.four-color {
  background-color: rgb(0, 251, 60);
}
.five-color {
  background-color: rgb(0, 196, 252);
}
