.one-color {
  background-color: blue;
  color: #f3f8f2;
}

.two-color {
  background-color: rgb(238, 238, 2);
}
.three-color {
  background-color: rgb(255, 2, 2);
  color: #f3f8f2;
}
.four-color {
  background-color: rgb(0, 253, 60);
}
.five-color {
  background-color: rgb(0, 194, 250);
}
