.one-color {
  background-color: blue;
  color: #f3f8f2;
}

.two-color {
  background-color: rgb(243, 243, 26);
}
.three-color {
  background-color: rgb(255, 2, 2);
  color: #f3f8f2;
}
.four-color {
  background-color: rgb(34, 155, 62);
}
.five-color {
  background-color: rgb(13, 250, 238);
}
