.one-color {
  background-color: blue;
  color: #f3f8f2;
}

.two-color {
  background-color: rgb(252, 252, 6);
}
.three-color {
  background-color: rgb(240, 2, 2);
  color: #f3f8f2;
}
.four-color {
  background-color: rgb(3, 216, 53);
}
.five-color {
  background-color: rgb(1, 241, 229);
}
